{% extends "layouts/base-fullscreen.html" %} {% block title %} Reset password {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %} {% block content %}
<div class="container position-sticky z-index-sticky top-1">
    <div class="row">
        <div class="col-12">{% include "includes/navigation-fullscreen.html" %}</div>
    </div>
</div>
<main class="main-content  mt-0">
    <section class="min-vh-100 mb-8">
        <div class="page-header align-items-start min-vh-30 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved0.jpg');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 text-center mx-auto">
                        <h1 class="text-white mb-2 mt-6">Password reset sent</h1>
                        <p class="text-lead text-white">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered
                            with, and check your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "includes/footer-fullscreen.html" %}
</main>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}